# SF Salaries Exercise

**Import pandas as pd.**

In [1]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

**Check the head of the DataFrame.**

In [3]:
m = sal.head()
m

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to check datatype of columns**

In [4]:

sal["BasePay"]= pd.to_numeric(sal["BasePay"], errors = 'coerce')
sal["OvertimePay"]= pd.to_numeric(sal["OvertimePay"], errors = 'coerce')
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB

**Check values of the follwing columns and see if there datatypes are suitable:**
- BasePay
- OvertimePay

**What is the average BasePay ?**

In [5]:
sal["BasePay"].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [6]:
sal["OvertimePay"].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL?**

In [7]:
JD = sal[sal.EmployeeName == "JOSEPH DRISCOLL"]
JD["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [8]:
JD["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [9]:
Highest = sal[sal.TotalPay == sal["TotalPayBenefits"].max()]
Highest["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid**

In [10]:
Lowest = sal[sal.TotalPay == sal["TotalPayBenefits"].min()]
Lowest["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [11]:
y11 = sal[sal.Year == 2011]
mean11 = y11["BasePay"].mean()

y12 = sal[sal.Year == 2012]
mean12 = y12["BasePay"].mean()

y13 = sal[sal.Year == 2013]
mean13 = y13["BasePay"].mean()

y14 = sal[sal.Year == 2014]
mean14 = y14["BasePay"].mean()

print(mean11)
print(mean12)
print(mean13)
print(mean14)

63595.95651677314
65436.40685742263
69630.03021648065
66564.42192449959

**How many unique job titles are there?**

In [14]:
sal["JobTitle"].nunique()

2159

**What are the top 5 most common jobs?**

In [13]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [28]:
no_of_ones = 0

sliced_2013 = sal[sal.Year == 2013]
listed_2013 = list(sliced_2013["JobTitle"])
for x in kl:
    if listed_2013.count(x) == 1:
        no_of_ones += 1
    
no_of_ones

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [15]:
no._of_chiefs = 0
for jt in sal["JobTitle"]:
    if "CHIEF" in jt:
        no._of_chiefs += 1
no._of_chiefs

204

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [30]:
sal["Length"]= sal["JobTitle"].apply(len)
correlation = sal.corr()
sliced_corr = correlation.loc[["BasePay", "Length"],["BasePay", "Length" ]]

sliced_corr

          BasePay    Length
BasePay  1.000000 -0.005059
Length  -0.005059  1.000000

# Great Job!